body {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 2.4rem;
  text-align: center;
  line-height: 2.4rem;
  font-size: 0.8rem;
  color: #000000;
  background: #fbfbfb;
  border-bottom: 1px solid #ccc;
}
.sub-title {
  background: #bdc3c7;
}
