<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link href="../../static/Library/AliIcon/iconfont.css" rel="stylesheet" />
    <link href="../../static/web/MoreInfo/UseGuide/UseGuide.css" rel="stylesheet" />
    <title>使用指南</title>
    <script>
        (function () {
            html = document.documentElement;
            hwdith = html.getBoundingClientRect().width();
            html.style.fontSize = hwdith / 15 + 'px';
        })();
    </script>
</head>
<body>
    <div class="use-guide">
        <div class="img-wrap">
            <img src="../../static/Library/img/UseGuide.png" /> 
        </div>
        <div class="desc-wrap">
            <span>使用指南正在建设当中~~~</span>
        </div>
    </div>
</body>
</html>
